<header id="header">
    <h1 id="logo"><a href="index.html"> Dharma Teja Gokavarapu </a></h1>
<img class="barPic" src="https://image.ibb.co/nK8JLU/Profile_Pic.jpg"/>  
    
    <nav id="nav">
        <ul>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/about">ABOUT</a></li>
            <li><a routerLink="/experience">EXPERIENCE</a></li>
            <li><a routerLink="/projects">PROJECTS</a></li>
            <!-- <li>
                <a href="#">HOBBIES</a>
                <ul>
                    <li><a href="left-sidebar.html">MUSIC</a></li>
                    <li><a href="right-sidebar.html">TRAVEL</a></li>
                    <li><a href="no-sidebar.html">BLOGS</a></li>
                    
                </ul>
            </li> -->
            <li><a routerLink="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header>
