<div id="page-wrapper">
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>EXPERIENCE</h2>
        </header>
        <!-- Text -->
        <hr/>

                                
                                    <a style="margin-left: 42%" href="Resume.pdf" target="_blank" class="button"> <i style="padding-right: 3px" class="fa fa-file-text-o"></i> Resume</a>
                                

                

                <hr/>
            <section>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Software Engineer Intern - Coinbase </div>

           

                <hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Software Engineer Intern - Appian </div>

                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Built and shipped features for Records Powered Grid (RPG) on the Composable Records UI team. </li>
                            <li>Collaborated with quality engineers, UX designers, and product owners in an Agile environment. </li>
                            <li> Technologies used were Java, Javascript, React, React Native, SAIL, JUnit, and Jest and Git.  </li>
                        </ul>
                    </div>
                </div>

                <hr/>
                
                <div style="text-align: center; font-size: 22px; font-family:Arial"> Research Assistant - University of Maryland </div>

                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Worked as a research assistant at the Programming Languages Lab <br> at the University of Maryland (PLUM) under the supervision of Dr. Michael Hicks and Dr. Leonidas Lampropoulos. </li>
                            <li>Explored property-based testing in Python and investigated bug slippage.  </li>
                        </ul>
                    </div>
                </div>

                <hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Founder - Juley </div>

                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Singlehandedly developed, designed, launched and marketed Juley, an app for booking hotels and homestays, for Web, IOS, and Android.  </li>
                            <li>Used React JS, React Native, HTML, and CSS for front-end. Node JS, Google Firebase, Google Places API for back-end.   </li>
                            <li>Features include location based search, filtering and sorting of properties, easy booking and cancellation, reviews and ratings.  </li>
                        </ul>
                    </div>
                </div>

                <hr/>


                <div style="text-align: center; font-size: 22px; font-family:Arial"> Founder - Doggomart </div>

            

                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Singlehandedly developed, designed, launched and marketed Daoggomart, an app for booking hotels and homestays, for IOS, and Android.  </li>
                            <li>Used React JS, React Native, HTML, and CSS for front-end. Node JS, Google Firebase, Google Places API for back-end.   </li>
                            <li>Doggomart helps users connect with nearby dog breeders and rescue facilities.  </li>
                        </ul>
                    </div>
                </div>

                <div style="text-align: center; font-size: 20px; "> 

                    To know more, visit <a target="_blank" href="www.mydoggomart.com"> www.mydoggomart.com </a>

                </div>

                <hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Teaching Assistant - University of Maryland College Park </div>

                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Served as a teaching assistant for CMSC132 - Object-Oriented Programming  at University of Maryland College Park. </li>
                            <li>Served as a teaching assistant for CMSC330 - Organization of Programming Languages at University of Maryland College Park. </li>
                                <li> Held office hours for students and graded exams. </li>
                        </ul>
                    </div>
                </div>

                <hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Software Engineering Intern - Indian Institute of Technology Kanpur</div>


                <div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Worked with Android Studio to develop an Android App for Brihaspati 3.0, which is an open source learning-based platform, and learned about it’s basic features and functionality during my internship. </li>
                            <li>Learned about HTTP protocol and implemented client-server communication based on HTTP requests using Java libraries.</li>
                                <li> Worked with Apache Tomcat on server side. Tasks included debugging server side programs. </li>
                        </ul>
                    </div>
                </div>

                <hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Chair of Website Committee - Space and Satellite Systems</div>


                

<div style="text-align: center; font-size: 20px; "> 
                    <div style="width:100%; display: flex; justify-content: center;">
                        <ul style="width:70%">
                            <li> Built and designed web pages with HTML and CSS</li>
                            <li>Learned about screen-size responsive layouts and implemented HTML pages for different screen sizes using CSS features. Worked with online repositories using Git version control.</li>
                                <li> Worked with Bootstrap framework for implementing dynamic buttons, scroll bars, and carousels. </li>
                        </ul>
                    </div>
                </div>
<hr/>

                <div style="text-align: center; font-size: 22px; font-family:Arial"> Tutor - Computer Science Tutoring Club - UC Davis</div>

                <div style="text-align: center; font-size: 20px;"> Tutored students at University of California Davis during winter quarter for ECS 30 - C Programming and ECS 20 - Discrete Mathematics.</div>

                <hr/>

</section>
</div>	
</div>
</div>