<div id="page-wrapper">
<div class="container">  
    <form style="color:red" id="contact" method="post" action="https://formspree.io/paarasbhandari@gmail.com">
     <h3 style="color: #C0C0C0; position: relative;text-align: center;">	Contact Me </h3>
     <h4 style="color: #C0C0C0; position: relative;text-align: center; font-size: 15px">Email: paarasbhandari@gmail.com</h4>
     <ul class="icons" style="text-align: center;">
         <li><a target="_blank" href="mailto:paarasbhandari@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
         <li><a target="_blank" href="https://www.linkedin.com/in/paaras-bhandari/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
         <li><a target="_blank" href="https://github.com/paarasbhandari" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
     </ul>
     <!-- <p style="size: 12px;margin-bottom: 1px;color:#C0C0C0" tabindex="1"> Name </p>
     <fieldset>
       <input   style="background-color: #E8E8E8" type="text" name = "name" tabindex="2" required autofocus>
     </fieldset>
     <p style="size: 12px;margin-bottom: 1px;color:#E8E8E8" tabindex="3"> Email </p>
     <fieldset>
       <input  style="background-color: #E8E8E8"name="_email" type="email" tabindex="4" required>
     </fieldset>
     <p style="size: 12px;margin-bottom: 1px;color:#E8E8E8" tabindex="1"> Message </p>
     <fieldset>
       <textarea style="background-color: #E8E8E8"  name="body" tabindex="5" required></textarea>
     </fieldset>
     <fieldset>
       <button style="border-radius:25px;" name="submit" value="Send" type="submit" id="contact-submit" >Submit</button>
     </fieldset> -->
   </form>
   </div>
</div>
